/* Basic styling for the web site */
body {
	background: linear-gradient(to top right, rgba(1,15,58,.85), rgba(1,15,58,0.85), rgba(1,15,58,0.85));
	background-repeat: no-repeat;
	background-size:cover;
}

.i-am-centered { margin: auto; max-width: 400px;}

.i-am-centered-2 { margin: auto; max-width: 850px;}

#render-target {
	font-size: 16px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 50px;
	padding-top: 20px;
}

.vertical-timeline-element-title {
    margin: 0;
    color: #000;
}

.vertical-timeline-element-subtitle {
    margin: 0;
    color: #000;
}

content .vertical-timeline-element-date, .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    left: auto;
    right: 140%;
    text-align: right;
    color: #E0D5CD;
    font-size: 1.2em;
}

.btn-sexualidad{
	background-color: rgb(255, 161, 77);
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	padding: 5px 15px;
}

.btn-educacion{
	background-color: rgb(116, 55, 188) ;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	padding: 5px 15px;
}

.btn-voto{
	background-color: rgb(15, 181, 196) ;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	padding: 5px 15px;
}

content .vertical-timeline-element-date, .vertical-timeline-element:nth-child(odd):not(.vertical-timeline-element--right) .vertical-timeline-element-content .vertical-timeline-element-date {
    right: auto;
    left: 140%;
    text-align: left;
    color: #E0D5CD;
    font-size: 1.2em;
}

#render-target h1{
	text-align: center;
	color: #E0D5CD;
	font-family: 'Bitter', serif;
	font-size: 4em;
	padding-bottom: 0.5em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}


#render-target hr {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 50%;
}

#render-target h2{
	text-align: center;
	font-weight: bold;
	padding: 10px;
}


#render-target h6{
	text-align: center;
	font-weight: bold;

	padding: 10px;
	padding-top: 100px;
}


@media only screen and (max-width: 600px) {
   #render-target h1{
		text-align: center;
		color: #E0D5CD;
		font-family: 'Bitter', serif;
		font-size: 2.7em;
		padding-bottom: 0.5em;
		padding-left: 0.8em;
		padding-right: 0.8em;
	}

	#myCarousel{
		display: none;
	}

}


